In [1]:
from sklearn.metrics import f1_score
import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
data = []
true_num = 37
for pred_num in tqdm(range(0, 2)):
    for pred_true_num in range(0,min(true_num,pred_num)+1):
        y_true = np.zeros(15379)
        y_pred = np.zeros(15379)
        y_true[:true_num] = 1
        y_pred[:pred_true_num] = 1
        if pred_num-pred_true_num > 0:
            y_pred[-(pred_num-pred_true_num):] = 1
        score = f1_score(y_true,y_pred,average='macro')
        data.append([pred_num,pred_true_num,score])

df = pd.DataFrame(data,columns=['pred_num','pred_true_num','score'],dtype='str')
df['score'] = df['score'].map(lambda x:"{:.8f}".format(float(x),8))
df.head()

100%|██████████| 2/2 [00:00<00:00, 138.57it/s]

  pred_num pred_true_num       score
0        0             0  0.49939781
1        1             0  0.49938151
2        1             1  0.52572985

In [14]:
df[df.score=='0.77742870561']

Empty DataFrame
Columns: [pred_num, pred_true_num, score]
Index: []

In [7]:
df.to_csv("df.csv",index=None)

In [3]:
df[df.pred_num == '1']

  pred_num pred_true_num       score
1        1             0  0.49938151
2        1             1  0.52572985

In [11]:
a=    {
        179458306,
        1606708811,
        2071313507,
        2427050072,
        179569820,
        2186749200,
        2212416005,
        2256064355,
        2347718610,
        2576321385,
    }    | {
        2238809293,
        2741872006,
        2817362052,
        2825175309,
        2852503463,
        2533183958,
        2319973783,
        1916407803,
        855996491,
    }    | {2717225077, 2445049876, 2172970175, 2323237963}
len(a)

23