In [1]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append('../src')
import xgboost as xgb
import pandas as pd
from features.UserJoin import UserJoin
from features.UserJoin import submit, diff, plt_month, plt_day, load_ids, diff_set, infot
import config as C
import matplotlib.pyplot as plt
import plotly.express as px
import numpy as np
from sklearn.metrics import f1_score
from pathlib import Path
from functools import reduce
import random
from pathlib import Path

/opt/conda/envs/miner/lib/python3.8/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

# 提交

In [4]:
C.true_ids

{179418058,
 179458306,
 179547052,
 179569820,
 362400993,
 855996491,
 1606708811,
 1862376457,
 1912367373,
 1916407803,
 2071313507,
 2172970175,
 2186749200,
 2212416005,
 2212577893,
 2238809293,
 2256064355,
 2319973783,
 2323237963,
 2347718608,
 2347718610,
 2427050072,
 2445049876,
 2471562086,
 2496032641,
 2523401557,
 2533183958,
 2540517219,
 2576321385,
 2624797677,
 2717225077,
 2741872006,
 2745781539,
 2759232590,
 2817362052,
 2825175309,
 2852503463}

In [3]:
submit(C.true_ids, 'submit.csv', True)

37

               id  label
0       179406029      0
1       179406030      0
2       179406094      0
3       179406097      0
4       179406099      0
...           ...    ...
15374  2849971818      0
15375  2850017469      0
15376  2850017472      0
15377  2851323065      0
15378  2852368013      0

[15379 rows x 2 columns]

In [3]:
true = set(random.sample(C.true_ids, int(len(C.true_ids)/1.3)))
false = set(random.sample(C.false_ids, int(len(C.false_ids)/3.3)))
print(len(true), len(false))
t = true | false | {2098712195, 2212577893, 2533183961}
len(t)

26 14

43

In [4]:
submit(t, 'submit_3_18_1.csv', True)

43

               id  label
0       179406029      0
1       179406030      0
2       179406094      0
3       179406097      0
4       179406099      0
...           ...    ...
15374  2849971818      0
15375  2850017469      0
15376  2850017472      0
15377  2851323065      0
15378  2852368013      0

[15379 rows x 2 columns]

# 普通查询

In [2]:
print('true ids', len(C.true_ids), 'false ids', len(C.false_ids))

true ids 36 false ids 67

# baseline 中剩余

In [3]:
for i in Path('submit_csv').glob('3_10_base_*.csv'):
    ids = load_ids(i.name)
    num_1 = int(i.name.split('_')[-1].replace('.csv', ''))

    num_1 -= len(ids & C.true_ids)
    ids = ids - C.true_ids - C.false_ids

    print(i.name, len(ids), num_1)

3_10_base_98_33.csv 39 0
3_10_base_32_27.csv 0 0
3_10_base_175_34.csv 104 0
3_10_base_544_35.csv 468 1
3_10_base_63_29.csv 19 0
3_10_base_34_27.csv 0 0
3_10_base_35_27.csv 0 0
3_10_base_32_24.csv 0 0

In [3]:
C.true_ids

{179418058,
 179458306,
 179547052,
 179569820,
 362400993,
 855996491,
 1606708811,
 1862376457,
 1912367373,
 1916407803,
 2071313507,
 2172970175,
 2186749200,
 2212416005,
 2212577893,
 2238809293,
 2256064355,
 2319973783,
 2347718608,
 2347718610,
 2427050072,
 2445049876,
 2471562086,
 2496032641,
 2523401557,
 2533183958,
 2540517219,
 2576321385,
 2624797677,
 2717225077,
 2741872006,
 2745781539,
 2759232590,
 2817362052,
 2825175309,
 2852503463}