In [1]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append('../src')
import xgboost as xgb
import pandas as pd
from features.UserJoin import UserJoin
from features.UserJoin import submit, diff, plt_month, plt_day, load_ids, diff_set, infot
import config as C
import matplotlib.pyplot as plt
import plotly.express as px
import numpy as np
from sklearn.metrics import f1_score
from pathlib import Path
from functools import reduce
import random
from pathlib import Path

/opt/conda/envs/miner/lib/python3.8/site-packages/xgboost/compat.py:31: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [2]:
true = set(random.sample(C.true_ids, int(len(C.true_ids)/1.5)))
false = set(random.sample(C.false_ids, int(len(C.false_ids)/3)))
print(len(true), len(false))
t = true | false | {2535198432}
len(t)

19 4

24

In [31]:
submit(t, 'submit_3_14_2.csv', True)

23

               id  label
0       179406029      0
1       179406030      0
2       179406094      0
3       179406097      0
4       179406099      0
...           ...    ...
15374  2849971818      0
15375  2850017469      0
15376  2850017472      0
15377  2851323065      0
15378  2852368013      0

[15379 rows x 2 columns]

In [6]:
print('true ids', len(C.true_ids), 'false ids', len(C.false_ids))

true ids 29 false ids 13

In [14]:
for i in Path('submit_csv').glob('3_10_base_*.csv'):
    ids = load_ids(i.name)
    n_miner = int(i.name.split('_')[-1].replace('.csv', ''))

    n_miner -= len(ids & C.true_ids)
    ids = ids - C.true_ids - C.false_ids

    if len(ids) < 5:
        print(i.name, len(ids), n_miner, ids)
        print(ids & C.ids_7_2)

3_10_base_32_27.csv 0 0 set()
set()
3_10_base_34_27.csv 3 2 {2745781539, 1912367373, 2602819207}
{2745781539, 2602819207}
3_10_base_35_27.csv 3 1 {1429892107, 2624797677, 2602819207}
{2624797677, 2602819207}
3_10_base_32_24.csv 4 2 {1429892107, 2745781539, 2624797677, 2602819207}
{2745781539, 2624797677, 2602819207}